@charset "UTF-8";

@import "./variables";
@import "./fonts";
@import "./normalize";
@import "./general";

@import "./blocks/blocks";

.box{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 40px;
}