.main {
  @include display(space-between, center);
  margin-top: 15px;
  &__card {
    padding: 0 30px;
    font-family: roboto;
    h2 {
      font-size: 29px;
      font-weight: 500px;
    }
    &__about {
      color: #6f787e;
    }
    &__text {
      @include display(space-between, center);
      width: 700px;
      &__about {
        width: 220px;
      }
    }
    &__link{
        @include display(flex-start,center);
        text-decoration: none;
        color:#6F787E;
        p{
            margin-left: 10px;
        }
    }
  }
  &__img{
    margin-left: 10px;
  }
}
@media only screen and (max-width:992px){
  .container{
      width: 96%;
  }
  .main{
      flex-direction: column;
      &__img{
          img{
              width: 600px;
              height: 300px;
              object-fit: cover;
              margin: 20px 0;
          }
      }
   }   
}
@media only screen and (max-width:768px){
  .container{
      width: 96%;
  }
  .main{
      flex-direction: column;
      &__card{
        padding: 0 15px;
          h2{
              font-size: 30px;
              text-align: center;
          }
          &__about{
            width: 98%;
              font-size: 18px;
              text-align: center;
          }
          &__text{
              flex-wrap: wrap;
              &__about{
                width: 100%;
                margin: 0 auto;
                  h3{
                    font-size: 1em;
                    text-align: center;
                  }
                  p{
                    font-size: 0.8em;
                    text-align: center;
                  }
              }
          }
      }
      &__img{
          img{
              width: 500px;
              height: 300px;
              object-fit: cover;
              margin: 20px 0;
          }
      }
   }   
}