
.modal{
    position: fixed;
    top: 0;
    left: 0;
    @include display(center, center);
    background:rgba($color: #000000, $alpha: 0.6) ;
    height:100vh;
    width: 100%;
    z-index: 1050px;
    &__card{
        width: 400px;
        background-color: white;
        border: 2px solid black;
        border-radius: 10px;
        &__form{
            padding: 20px;
        }
    }
}